GEMINI_API_KEY=AIzaSyA5GgR2wal2EevZ0hxVnRE1PJs0Gpz2U-c
SUPABASE_URL=https://aaekwxpqearjnuhjhetd.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFhZWt3eHBxZWFyam51aGpoZXRkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE0Njg2NDcsImV4cCI6MjA5NzA0NDY0N30.GjqsJj_DEoK_einOt2FEr49I2mBo1RAn4Fn5dC9Nask
